meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge; charset=utf-8")
title= appTitle
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(href="https://fonts.googleapis.com/css?family=Overpass:200,400,700", rel="stylesheet")
link(rel="stylesheet", href="/stylesheets/style.css")
link(href="data:,", rel="icon")
script(type="text/javascript", src="/scripts/vue.js")
script(type="text/javascript", src="/scripts/jquery.min.js")