extends layout
block header
	
block content
	
	div.centerallwrap#vue
		.ui(v-if="avatar")
			img(v-if="avatar", :src="avatar",
				@mouseover="hovOver(thought.name)", @mouseleave="hovLeave"
			)
			p(v-text="thought.name")
		div.centerall
			
			div.tb-10-m0.tb-07-m2.centerallwrap(style="height:calc(100% - 90px);", v-if="avatar")
				div.bubble.centerall
					p.loltxt(v-text="thought.currentThought")
					img(:src="thought.daydream")
			div.tb-03-m2.clear(style="margin:0;height:0;")
			div.tb-07-m2.clear(style="margin:0;height:0;")
			div.tb-10-m0.tb-03-m2(style="transform: translateY(-10px);")
				div.tb-10-m0
					div.dot
					div.tb-06-m0.tb-08-m1.tb-07-m2(v-if="info")
						p.tb-font-xxs(v-text="info")
				div.tb-10-m0
					div.dot
					div.tb-06-m0.tb-08-m1.tb-07-m2(v-if="avatar", style="float:right;")
						p.tb-font-xxs(style="vertical-align:bottom;")
							strong(v-text="'Name: '")
							span(v-text="thought.name")
				div.tb-10-m0
					div.dot
					div.tb-06-m0.tb-08-m1.tb-07-m2(v-if="avatar && thought.currentBeer", style="float:right;")
						p.tb-font-xxs(style="vertical-align:top;")
							strong(v-text="'Drinking: '")
							span(v-text="thought.currentBeer")
			div.tb-10-m0(style="transform: translateY(-5px);")
				div.row
					button(v-if="!thinking", @click="getThought", v-text="(!avatar ? 'Read someone\\'s mind' : 'Read someone else\\'s mind')",
						:style="{display: (!avatar ? 'inline-block' : 'inherit'), margin: (!avatar ? '0' : '0 auto'), 'padding': (!avatar ? '10px' : '12px 20px 20px 20px')}"
					)
					p(v-if="thinking", v-text="appTitle+' in use. Please wait.'")


				